.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.main-content {
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  padding: 10px;
}
