.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  align-items: center;
  padding: 20px 0px;
  border-right: 1px solid #555;
}

.btn-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 90px;
  height: 90px;
  transition: all 0.3s ease;
  gap: 5px;
}

.active {
  border-bottom: 1px solid var(--text-color-light);
  border-top: 1px solid var(--text-color-light);
}
.btn-sidebar span {
  font-size: 0.8rem;
  font-weight: 500;
}

.btn-sidebar svg {
  width: 40px;
}
