.btn-sidebar {
  transition: all 0.2s ease;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}
.btn-sidebar:hover {
  background-color: var(--secondary-color-hover);
}

.btn-sidebar svg {
  font-size: 3rem;
  transition: all 0.1s ease;
}
.btn-sidebar:active svg {
  font-size: 2.3rem;
}
.active,
.active:hover {
  /*border-bottom: 1px solid var(--text-color-light);
  border-top: 1px solid var(--text-color-light);*/
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-sidebar span {
  font-size: 0.8rem;
  font-weight: 500;
}

.btn-sidebar svg {
  width: 40px;
}
